<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Info</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      <header>
        <h2>Weather Info</h2>
      </header>
      <article class="widget">
        <form class="weatherLocation" action="/" method="POST">
          <label class="font1" for="cityInput"> <b>City Name:</b> </label>
          <input
            style="border-radius: 2px"
            type="text"
            name="cityName"
            id="cityInput"
          />
          <button class="font2" type="submit">Go</button>
        </form>
        <div class="weatherInfo">
          <div class="temperature">
            <span><p><%= temp1 %></p></span>
          </div>
          <div class="description">
            <div class="weatherCondition"><p><%= des %></p></div>
            <div class="place"><%= place %></div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>
